$navbar-height: 50px;

$f6-max: 15px;
$f5-max: 18px;
$f4-max: 21px;
$f3-max: 23px;
$f2-max: 26px;
$f1-max: 29px;

$f6-min: 6px;
$f5-min: 8px;
$f4-min: 10px;
$f3-min: 12px;
$f2-min: 14px;
$f1-min: 21px;
